<strong><h3>My first Rails Display in life</strong></h3>
<p>

	Explore
Create
Contests
let's make
Community
Login | Sign Up
share what you make >
Terminating an Ethernet (CAT5e/CAT6) Cable
Download
6 Steps
by jacarlz
Collection
I Made it!
Favorite
Share
About This Instructable
open in browser PRO version
Are you a developer? Try out the HTML to PDF API
pdfcrowd.comAbout This Instructable
License:
196,147 views
27 favorites
jacarlz
Follow
Tags:
netw ork cable
cat5
2
cat5e
cat6
ethernet
Related
Terminating an Ethernet or CAT5e/CAT6 cable is an easy and useful skill,
particularly for those interested in home networking or those in the networking
field. When you learn to terminate cables yourself, you can save money, space,
and frustration with tangled cables by making them the exact length you need
instead of having to use cables manufactured by a company. In about 15 minutes,
almost anyone can measure and terminate the ends of a cable.
Creating your own
Cat5e/Cat6 Ethernet
Cables
by Daniel-CC
Terminating CAT5e
Ethernet Cable - Male
by LGProspects
How to punch down an
RJ45 Network jack
by CableSupply
open in browser PRO version
Are you a developer? Try out the HTML to PDF API
pdfcrowd.comUse a Barrel Knot When
You're Out Of Zip Ties
by CableSupply
How to make your home
stereo's wiring a little
more durable
by justineo14
Remove these ads by Signing Up
See More
Step 1: Materials
open in browser PRO version
Are you a developer? Try out the HTML to PDF API
pdfcrowd.com• Wire Strippers – I recommend the IDEAL Telecomm/Datacomm Wire Strippers
• Wire Cutters (Side Cutters will work)
• RJ45 Crimping Tool
• 2 - RJ45 Modular Data Plug (Ends)
• Bulk CAT6 Network Cable
• Ruler
• 2 Wire Boots (Optional, not pictured)
open in browser PRO version
Are you a developer? Try out the HTML to PDF API
pdfcrowd.comStep 2: Measure the Cable
Step 1:
Using the coil of wire, pull the necessary amount of wire for the connection you
need to make. Be sure to include an extra 2 inches on either end of the wire for
the data plug.
NOTE: Network cables have a maximum length, depending on which type is
being used. Although maximum length varies by manufacturer, a common rule of
thumb is 650 feet for a CAT6 cable and 250 feet for a CAT5e cable. If the length
of the wire between two powered network devices exceeds this length, signal
degradation and data loss may occur.
TIP: Do your best to run the wire along the path it will follow between the two
devices. Do not pull the cable tight between two points and be sure the cable is not
kinked or tightly pulled around corners. The cable should have a little wiggle room.
TIP: If the location of the wire allows, consider including an extra length in the
cable. This prevents having to make another cable if one device needs to move a
short distance after the cable is made. One way of adding a short length to the
cable is to wrap it around a closed fist 2 or 3 times.
Step 3: Strip the Cable
open in browser PRO version
Are you a developer? Try out the HTML to PDF API
pdfcrowd.comopen in browser PRO version
Are you a developer? Try out the HTML to PDF API
pdfcrowd.comStep 1:
Measure out 1.5 inches from one end of the wire and place the wire in the wire
strippers at that location. The cable should be snug in the strippers, but not tight.
For the recommended strippers, the second notch inward is appropriate.
Step 2:
Ensure the blade of the wire stripper is perpendicular to the wire and turn the wire
stripper around the cable once, which will score the sheathing of the wire.
NOTE: Turn the wire stripper only once. Turning the stripper more than once
increases the chance of cutting the sheathing of the inner wires. If the inner
sheathing is cut, it can make the next steps more difficult or cause the wires to
break.
Step 3:
Remove the wire stripper and gently bend the cable along the score line. This
should break the sheathing which can be pulled off the wire and thrown away.
NOTE: Some wires contain a strand of fiber similar to the one shown in the
image. Cut the fiber from the cable near the end of sheathing.
NOTE: As you become more experienced with making Ethernet cables, you
may not need to remove the full 1.5 inches of sheathing.
open in browser PRO version
Are you a developer? Try out the HTML to PDF API
pdfcrowd.comAfter the sheathing is removed, the bundle of 8 wires will be exposed as shown.
Step 4: Prepare Wires
open in browser PRO version
Are you a developer? Try out the HTML to PDF API
pdfcrowd.comShow All 7 Items
Step 1:
Separate the twisted pairs into an "x" pattern as shown. When you look down the
cable from the end, you should not see any of the twisted pairs crossing over each
other. Also, the wires do not have to be in the same configuration as seen in the
image as long as the wires are not crossing over each other.
Step 2:
Separate the wires of the twisted pairs. When the wires are separated, they should
not cross over each other.
open in browser PRO version
Are you a developer? Try out the HTML to PDF API
pdfcrowd.comStep 3:
Assemble the wires into a fan shape and organize for the data plug. There are two
common ways to organize the wires for the data plug. Regardless of which one
you use, both ends of the cable MUST use the same configuration otherwise the
cable will not work.
I use the following configuration moving left to right (Clockwise from the 9 o'clock
position)
• Orange-White
• Orange
• Green-White
• Blue
• Blue-White
• Green
• Brown-White
• Brown
TIP: If this is the second end of the wire, look at the end that is already
terminated to ensure the cables are the same on both ends. If you made a mistake
on your first end, this is your opportunity to fix it by configuring your wires the
same way as the terminated end.
NOTE: The wire configuration used above is the T-568B configuration, which is
the most common configuration. The T-568A configuration works just as well and
will not affect the transmission quality of the cable. Both of these configurations
use the design of the wires (twisted pairs) to insulate the wires from each other and
prevent interference and data loss. It is useful to memorize
whichever configuration you prefer. If you are interested in making an Ethernet
Crossover cable, just do an image search for "Ethernet Crossover Cable Diagram"
to get a wire configuration diagram.
Step 4:
Firmly grasp all the wires near the sheathing and slide your fingers up, collecting all
open in browser PRO version
Are you a developer? Try out the HTML to PDF API
pdfcrowd.comthe wires into a flat line. Make sure none of the wires jump positions. When
looking at the wire colors from left to right, the wires should be in the same
configuration as described above.
Step 5:
Straighten the wires. The wires do not have to be even, just straighten them as best
you can.
TIP: If you have a table with a sharp (not rounded) edge, pinch the cable
between your thumb and the edge of the table. Next, pull the wires between your
thumb and the edge. This will straighten the wires and make them easier to
manipulate for the next steps.
Step 6:
Using the wire cutters, trim the tips of the wires so all of the wires are even. Make
sure the cut is perpendicular to the wires.
Step 5: Insert Wires and Crimp
open in browser PRO version
Are you a developer? Try out the HTML to PDF API
pdfcrowd.comopen in browser PRO version
Are you a developer? Try out the HTML to PDF API
pdfcrowd.comShow All 9 Items
If you are using boots, place 2 boots on the cable now with the large ends of the
boots facing the ends of the cable (The large ends of the boots should be facing
opposite directions). I choose not to use boots because as the plastic ages it
become hard which can make unplugging a cable from a jack very difficult. Some
people counter this by saying it keeps the tabs from breaking off if you have to pull
the cable through a bundle of wires or a tight space, but if the tab breaks off, you
can cut the end and terminate it again!
Step 1:
Ensure the wires are still in the same configuration as the last step. Insert the wires
in data plug as shown in the figure. The tab on the data plug should be on the
bottom of the plug and the Orange-White wire should be the leftmost wire in the
plug. When inserted, the sheathing should be just inside the end of the data plug.
If the wires are too long, remove the data plug, cut a very small length of wire from
the end, and reinsert the cable into the data plug.
NOTE: When viewing the data plug from the side, all of the wires should be as
far forward in the plug as possible which is past the spikes at the closed end of the
plug. Also examine the plug from the end, ensuring all the wires are
completely inserted in the plug.
open in browser PRO version
Are you a developer? Try out the HTML to PDF API
pdfcrowd.comTIP: The the wires do not want to slide into the data plug, moisten them with a
drop of water or, if you are comfortable, a small lick will do the trick.
Step 2:
With the sheathing just inside the plug, pinch the wire about 2 inches below the
plug. Using your other hand, pinch the wire just above where you have pinched
and slowly slide your second hand up towards the plug, like you are stretching the
sheathing. This will move the sheathing farther into the plug. Repeat this step until
the sheathing is near the center of the plug. Be sure you are not pulling the wires
away from the end of the plug.
NOTE: If you push the sheathing too far into the data plug, you will start pulling
the wires back into the sheathing. Make sure all the wires are fully inserted in the
plug.
Step 3:
Insert the prepared plug in the crimping tool and squeeze the handle, crimping the
wires.
NOTE: Typically, I actually squeeze the cable in the crimping tool twice. I know
it does not do anything extra, but it also cannot hurt.
Step 6: Terminate the Other End of the Cable
open in browser PRO version
Are you a developer? Try out the HTML to PDF API
pdfcrowd.comNow the other end must be terminated. Return to the "Strip the Cable" step and
repeat the stripping, preparing, and crimping steps for the other end of the cable.
Congratulations! You have terminated an Ethernet cable! Now you are ready to
interconnect the world!
open in browser PRO version
Are you a developer? Try out the HTML to PDF API
pdfcrowd.comWe have a be nice comment policy.
Please be positive and constructive.
I Made it!
Add Images
oclaman
Make Comment
3 months ago
Reply
Hi, I have a cat6 ethernet cable with 8 non-twisted wires all apparently
being of different solid colors. Is it OK to attach both ends to the
connectors in any order as long as both ends have the same color order?
oclaman 3 months ago Reply
SyllasA 7 months ago Reply
Thank you very much for sending this idea obviously it's very
helpful.Please kindly share more ideas for us to improve upon our skills
ketorolac made it!
1 year ago
Reply
Thank you!!!!!!!!
open in browser PRO version
Are you a developer? Try out the HTML to PDF API
pdfcrowd.comAbout Us
Find Us
Resources Mobile
Download our new apps for iOS,
Android and Windows 8!
Who We Are Facebook For Teachers
Advertise Youtube Artists in Residence
Contact Twitter Gift Pro Account
Jobs
Pinterest
Help
Google+
Tumblr
Join our newsletter:
© 2015 Autodesk, Inc.
open in browser PRO version
Forums
Android
iOS
Windows
Go Pro Today »
We're Hiring! »
Answers
Sitemap
enter email
Join!
Terms of Service | Privacy Statement | Legal Notices & Trademarks | Mobile Site
Are you a developer? Try out the HTML to PDF API
pdfcrowd.com

</p>